@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
@use "core/global";
@use "layout/header";
main {
  color: v.$main-color;
  @include m.flex(center, center);
  height: 200vh;
  background-color: #ececec;
}
