* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --alt-color: #0a6fc2;
  --light-color: #c7d9fb;
  --text-color: #111;
  --para-color: #555;
  --odd-bg: #ececec;
  --even-bg: #fff;
  --light-bg: #f9f9f9;
  --space: 20px;
  --sec-space: 100px;
  --trans: 0.3s linear;
  --transe: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}
body.popup-active {
  overflow-y: hidden;
}
body[data-color=red] {
  --main-color: #F44336;
  --alt-color: #c1170a;
  --light-color: #fba8a2;
}
body[data-color=green] {
  --main-color: #009688;
  --alt-color: #025e55;
  --light-color: #a5fff7;
}
body[data-color=blue] {
  --main-color: #2196F3;
  --alt-color: #0a6fc2;
  --light-color: #c7d9fb;
}
body[data-color=yellow] {
  --main-color: #FFC107;
  --alt-color: #c29100;
  --light-color: #ffebb0;
}
body[data-color=purple] {
  --main-color: #673ab7;
  --alt-color: #400d9b;
  --light-color: #d3baff;
}
body.no-animations h1,
body.no-animations h2,
body.no-animations h3,
body.no-animations h4,
body.no-animations h5,
body.no-animations h6,
body.no-animations div:not(.popup-box),
body.no-animations span,
body.no-animations p,
body.no-animations section,
body.no-animations button:not(.toggle-btn),
body.no-animations article,
body.no-animations a,
body.no-animations svg,
body.no-animations img,
body.no-animations ul,
body.no-animations ol,
body.no-animations li,
body.no-animations ::before,
body.no-animations ::after,
body.no-animations i,
body.no-animations form,
body.no-animations input,
body.no-animations textarea,
body.no-animations ::placeholder {
  animation: none !important;
  transition: none !important;
}
body.no-animations .main-heading:hover {
  color: #000;
}
body.darkmode {
  --text-color: #f1f1f1;
  --para-color: #888;
  --odd-bg: #191919;
  --even-bg: #000;
  --light-bg: #111;
}
body.darkmode #hiw .info .box::before {
  background-color: #252525;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  user-select: none;
}

.container {
  padding: 0px 20px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

section:not(#landing, #discount) {
  padding: var(--sec-space) 0px;
  position: relative;
}
section:not(#landing, #discount):nth-of-type(odd) {
  background-color: var(--odd-bg);
}
section:not(#landing, #discount):nth-of-type(even) {
  background-color: var(--even-bg);
}

.main-heading {
  text-transform: uppercase;
  width: fit-content;
  margin: 0px auto 50px;
  position: relative;
  z-index: 1;
  font-size: 32px;
  padding: 10px 20px;
  line-height: 1.25;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  user-select: none;
  transition: 0.25s 0.25s linear;
}
.main-heading::before, .main-heading::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s linear;
}
.main-heading::before {
  right: -30px;
  animation: back-left 0.5s linear both;
}
.main-heading::after {
  left: -30px;
  animation: back-right 0.5s linear both;
}
.main-heading:hover {
  color: #fff;
  border-color: var(--main-color);
}
.main-heading:hover::before {
  animation: fill-left 0.5s linear both;
  z-index: -1;
}
.main-heading:hover::after {
  animation: fill-right 0.5s linear both;
  z-index: -1;
}

@media (max-width: 375px) {
  .main-heading {
    font-size: 24px;
  }
}
@keyframes fill-left {
  50% {
    right: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    right: -1px;
    border-radius: 0;
    width: 51%;
    height: 101%;
  }
}
@keyframes fill-right {
  50% {
    left: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    left: -1px;
    border-radius: 0;
    width: 51%;
    height: 101%;
  }
}
@keyframes back-left {
  0% {
    right: 0px;
    border-radius: 0;
    width: 51%;
    height: 100%;
    z-index: -1;
  }
  50% {
    right: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    right: -30px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
}
@keyframes back-right {
  0% {
    left: 0px;
    border-radius: 0;
    width: 51%;
    height: 100%;
    z-index: -1;
  }
  50% {
    left: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    left: -30px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
}
.sep {
  position: relative;
}
.sep::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, var(--even-bg) 25%, transparent 25%), linear-gradient(225deg, var(--even-bg) 25%, transparent 25%);
  background-size: 30px;
  z-index: 1;
}

.dots {
  height: 150px;
  width: 150px;
  -webkit-mask: url(../../imgs/dots.svg) no-repeat center;
  mask: url(../../imgs/dots.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: absolute;
  background-color: var(--main-color);
}
.dots.dots-up {
  top: 150px;
  right: 5px;
}
.dots.dots-down {
  bottom: 150px;
  left: 5px;
}

@media (max-width: 767px) {
  .dots {
    width: 75px;
    height: 75px;
  }
  .dots.dots-up {
    top: 50px;
  }
  .dots.dots-down {
    bottom: 50px;
  }
}
@media (max-width: 375px) {
  .dots {
    width: 50px;
    height: 50px;
  }
}
#scroll-top {
  visibility: hidden;
  opacity: 0;
  transition: var(--trans);
}
#scroll-top.show {
  visibility: visible;
  opacity: 1;
}
#scroll-top .scroll-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: calc(70px + var(--space));
  right: var(--space);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  cursor: pointer;
}
#scroll-top .scroll-progress:hover .scroll-icon {
  color: #fff;
  background-color: var(--main-color);
}
#scroll-top .scroll-progress:hover .scroll-icon i {
  animation: arrow-jump 0.3s linear;
}
#scroll-top .scroll-progress .scroll-icon {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  background-color: var(--light-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--main-color);
  transition: var(--trans);
}

@keyframes arrow-jump {
  40% {
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#settings .settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--light-bg);
  color: var(--main-color);
  font-size: 24px;
  bottom: var(--space);
  right: var(--space);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: var(--trans);
}
#settings .settings-btn:hover {
  color: #fff;
  background-color: var(--main-color);
  transform: rotate(90deg);
}
#settings .settings-options {
  position: fixed;
  width: 200px;
  height: 100%;
  max-width: 100%;
  background-color: var(--even-bg);
  top: 0px;
  right: 0px;
  z-index: 999;
  visibility: hidden;
  transform: translateX(100%);
  transition: var(--trans);
}
#settings .settings-options.active {
  visibility: visible;
  transform: translateX(0%);
}
#settings .settings-options .close-settings {
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  transition: var(--trans);
}
#settings .settings-options .close-settings:hover {
  background-color: var(--alt-color);
}
#settings .settings-options h2 {
  text-align: center;
  padding: 10px 0px;
  color: var(--text-color);
  border-bottom: 1px solid var(--odd-bg);
}
#settings .settings-options .options-list {
  padding: 10px;
}
#settings .settings-options .options-list > li {
  background-color: var(--odd-bg);
  padding: 10px;
  margin-top: 10px;
}
#settings .settings-options .options-list > li:nth-last-child(n) {
  margin-bottom: 10px;
}
#settings .settings-options .options-list > li h3 {
  text-align: center;
  color: var(--text-color);
  line-height: 1;
  margin-bottom: 15px;
}
#settings .settings-options .options-list > li .colors-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#settings .settings-options .options-list > li .colors-list li {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #fff;
  opacity: 0.4;
  transition: 0.3s ease;
}
#settings .settings-options .options-list > li .colors-list li[data-color=red] {
  background-color: #F44336;
}
#settings .settings-options .options-list > li .colors-list li[data-color=green] {
  background-color: #009688;
}
#settings .settings-options .options-list > li .colors-list li[data-color=blue] {
  background-color: #2196F3;
}
#settings .settings-options .options-list > li .colors-list li[data-color=yellow] {
  background-color: #FFC107;
}
#settings .settings-options .options-list > li .colors-list li[data-color=purple] {
  background-color: #673ab7;
}
#settings .settings-options .options-list > li .colors-list li:hover, #settings .settings-options .options-list > li .colors-list li.active {
  opacity: 1;
}
#settings .settings-options .options-list > li .toggle-animations,
#settings .settings-options .options-list > li .toggle-darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--para-color);
}
#settings .settings-options .options-list > li .toggle-animations .toggle-btn,
#settings .settings-options .options-list > li .toggle-darkmode .toggle-btn {
  width: 52px;
  height: 26px;
  background-color: var(--main-color);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
#settings .settings-options .options-list > li .toggle-animations .toggle-btn::after,
#settings .settings-options .options-list > li .toggle-darkmode .toggle-btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: translateX(0px);
  transition: 0.3s ease;
}
#settings .settings-options .options-list > li .toggle-animations .toggle-btn.toggle-off,
#settings .settings-options .options-list > li .toggle-darkmode .toggle-btn.toggle-off {
  background-color: #ccc;
}
#settings .settings-options .options-list > li .toggle-animations .toggle-btn.toggle-off::after,
#settings .settings-options .options-list > li .toggle-darkmode .toggle-btn.toggle-off::after {
  transform: translateX(26px);
}
#settings .settings-options .reset-option {
  padding: 20px 10px;
  border-top: 1px solid var(--odd-bg);
}
#settings .settings-options .reset-option .reset-btn {
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  transition: var(--transe);
}
#settings .settings-options .reset-option .reset-btn:hover {
  background-color: var(--alt-color);
}
#settings .settings-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: var(--trans);
}
#settings .settings-overlay.active {
  visibility: visible;
  opacity: 1;
}

header {
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: var(--even-bg);
  box-shadow: 0px 0px 10px #999;
  z-index: 999;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--even-bg);
}
header .container .logo h1 a {
  color: var(--main-color);
  font-size: 30px;
  padding: 0px var(--space);
}
header .container nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav .nav-menu > li > a {
  font-size: 18px;
  padding: 0px var(--space);
  height: 70px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  transition: var(--trans);
}
header .container nav .nav-menu > li > a i {
  font-size: var(--space);
}
header .container nav .nav-menu > li > a.sub-menu i {
  transition: var(--trans);
  margin-top: 3px;
}
header .container nav .nav-menu > li > a.sub-menu.active i {
  transform: rotateZ(-180deg);
}
header .container nav .nav-menu > li > a::before {
  content: "";
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to left, transparent 50%, var(--main-color) 50%);
  background-size: 200%;
  background-position: right;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: var(--trans);
}
header .container nav .nav-menu > li > a:hover, header .container nav .nav-menu > li > a.active {
  background-color: var(--light-bg);
  color: var(--main-color);
}
header .container nav .nav-menu > li > a:hover::before, header .container nav .nav-menu > li > a.active::before {
  background-position: left;
}
header .container nav .menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 0px var(--space);
  height: 70px;
  color: var(--text-color);
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
header .container nav .menu-bar .bar1,
header .container nav .menu-bar .bar2 {
  width: 30px;
  height: 4px;
  background-color: var(--text-color);
  transition: var(--trans);
}
header .container nav .menu-bar.active .bar1 {
  transform: translateY(4px) rotate(-45deg);
}
header .container nav .menu-bar.active .bar2 {
  transform: translateY(-5px) rotate(45deg);
}
header .container nav .mega-menu {
  position: fixed;
  left: 50%;
  top: 70px;
  border-top: 1px solid #ccc;
  transform: translateY(-105%) translateX(-50%);
  overflow: hidden auto;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  gap: calc(var(--space) * 2);
  background-color: var(--even-bg);
  padding: var(--space);
  z-index: -1;
  transition: 0.5s linear;
  opacity: 0;
  border-bottom: 3px solid var(--main-color);
}
header .container nav .mega-menu.active {
  transform: translateY(0px) translateX(-50%);
  opacity: 1;
}
header .container nav .mega-menu img {
  transition: 0.4s linear;
  width: 100%;
}
header .container nav .mega-menu img:hover {
  filter: hue-rotate(180deg);
}
header .container nav .mega-menu ul {
  width: 100%;
}
header .container nav .mega-menu ul.mega-list0 {
  display: none;
}
header .container nav .mega-menu ul li a {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: var(--main-color);
  background-image: linear-gradient(to left, transparent 50%, var(--light-bg) 50%);
  background-size: 200%;
  background-position: right;
  transition: var(--trans);
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container nav .mega-menu ul li a:hover {
  background-position: left;
}
header .container nav .mega-menu ul li a i.fa-timeline {
  transform: rotateZ(-90deg);
}
header .container nav .mega-menu ul li:not(:last-of-type) a {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 990px) {
  header .container nav .mega-menu {
    grid-template-columns: 3fr 2fr 2fr;
  }
}
@media (max-width: 870px) {
  header .container nav .mega-menu {
    grid-template-columns: 1fr 1fr;
  }
  header .container nav .mega-menu img {
    display: none;
  }
}
@media (max-width: 768px) {
  header .container nav .nav-menu {
    display: none;
  }
  header .container nav .menu-bar {
    display: flex;
  }
  header .container nav .mega-menu {
    bottom: 0px;
    grid-template-columns: 1fr;
    transform: translateY(0px) translateX(100%);
    min-width: 50%;
    max-width: 100%;
    width: 300px;
    gap: 0px;
    left: auto;
    right: 0px;
  }
  header .container nav .mega-menu.active {
    transform: translateY(0px) translateX(0px);
  }
  header .container nav .mega-menu ul.mega-list0 {
    display: block;
  }
  header .container nav .mega-menu .mega-list0,
  header .container nav .mega-menu .mega-list1 {
    border-bottom: 1px solid #ddd;
  }
}
@media (max-height: 320px) {
  header .container nav .mega-menu {
    bottom: 0px;
  }
}
@media (max-width: 300px) {
  header .container .logo h1 a {
    font-size: 26px;
  }
  header .container:first-child {
    padding: 0px;
  }
}
#landing {
  background-color: var(--even-bg);
  position: relative;
  overflow: hidden;
}
#landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space);
  margin-top: 70px;
  padding-bottom: 70px;
  min-height: calc(100vh - 70px);
}
#landing .container .content {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: var(--text-color);
}
#landing .container .content h2 {
  font-size: 40px;
  margin-bottom: var(--space);
}
#landing .container .content h2 .brand-name {
  color: var(--main-color);
}
#landing .container .content p {
  color: var(--para-color);
  font-size: 24px;
  line-height: 1.6;
}
#landing .container .image img {
  width: 100%;
  position: relative;
  animation: img-up-down linear 4s infinite;
}
#landing::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--odd-bg);
  position: absolute;
  top: -50px;
  transform: skewY(-5deg);
  transform-origin: top left;
}
#landing .double-arrow {
  width: var(--space);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
  animation: landing-arrow 1.5s linear infinite;
}
#landing .double-arrow i {
  color: var(--main-color);
}

@media (max-width: 768px) {
  #landing .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  #landing .container .content {
    text-align: center;
  }
  #landing .container .content h2 {
    font-size: 30px;
  }
  #landing .container .content p {
    font-size: 18px;
  }
  #landing .container .image {
    margin-top: 30px;
  }
}
@media (max-height: 600px) {
  #landing .container .image {
    margin-top: 30px;
  }
}
@keyframes img-up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes landing-arrow {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40%, 60% {
    transform: translateX(-50%) translateY(-15px);
  }
}
#about .container {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .container .image {
  position: relative;
  padding: 40px;
  margin: 20px 0;
}
#about .container .image::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0px;
  top: 0px;
  border: 10px solid var(--main-color);
  box-sizing: border-box;
  transition: var(--trans);
}
#about .container .image:hover::before {
  width: 100%;
}
#about .container .image img {
  width: 100%;
  position: relative;
}
#about .container .text {
  width: 50%;
  color: var(--para-color);
}
#about .container .text p:first-child {
  margin-bottom: 15px;
}
#about .container .text .features {
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}
#about .container .text .features .feat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#about .container .text .features .feat:hover::before, #about .container .text .features .feat:hover::after {
  border-width: 80px;
}
#about .container .text .features .feat:hover h3 {
  color: #fff;
}
@media (max-width: 768px) and (min-width: 650px) {
  #about .container .text .features .feat:hover::before, #about .container .text .features .feat:hover::after {
    border-width: 100px;
  }
}
#about .container .text .features .feat::before, #about .container .text .features .feat::after {
  content: "";
  position: absolute;
  border: 10px solid;
  transition: var(--trans);
}
#about .container .text .features .feat::before {
  top: 0px;
  right: 0px;
  border-color: var(--main-color) var(--main-color) transparent transparent;
}
#about .container .text .features .feat::after {
  bottom: 0px;
  left: 0px;
  border-color: transparent transparent var(--main-color) var(--main-color);
}
#about .container .text .features .feat img,
#about .container .text .features .feat h3 {
  position: relative;
  z-index: 1;
}
#about .container .text .features .feat img {
  width: 50px;
  flex-shrink: 2;
}
#about .container .text .features .feat h3 {
  font-size: 14px;
  margin-top: 10px;
  transition: var(--trans);
}

@media (max-width: 768px) {
  #about .container {
    flex-wrap: wrap;
    gap: 0px;
  }
  #about .container .image {
    margin-top: -30px;
    padding: 20px;
  }
  #about .container .image::before {
    border-width: 5px;
    width: 100%;
  }
  #about .container .text {
    width: 100%;
  }
  #about .container .text p {
    text-align: center;
  }
}
#pricing .container, #testimonials .container, #team-members .container, #services .container, #features .container, #gallery .container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

footer .container, #articles .container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

@media (max-width: 375px) {
  .grid-sm-1 {
    grid-template-columns: 1fr !important;
  }
}
#gallery .container .image-box {
  padding: 15px;
  background-color: var(--even-bg);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
#gallery .container .image-box .image {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#gallery .container .image-box .image::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  opacity: 0;
  z-index: -1;
}
#gallery .container .image-box .image:hover::before {
  z-index: 1;
  animation: flash-hover 0.6s linear;
}
#gallery .container .image-box .image img {
  width: 100%;
  transition: var(--trans);
}
#gallery .container .image-box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

@keyframes flash-hover {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
#features .container .feat {
  border: 1px solid #ccc;
}
#features .container .feat .image {
  position: relative;
  overflow: hidden;
}
#features .container .feat .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.6;
}
#features .container .feat .image::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0px 0px 150px 500px;
  border-color: transparent transparent var(--even-bg) transparent;
  transition: var(--trans);
}
#features .container .feat .image img {
  width: 100%;
}
#features .container .feat:hover .image::after {
  border-width: 0px 500px 150px 0px;
}
#features .container .feat .content {
  text-align: center;
  padding: var(--space);
}
#features .container .feat .content h3 {
  font-size: 36px;
  position: relative;
  width: fit-content;
  margin: 0px auto 50px;
  color: var(--text-color);
}
#features .container .feat .content h3::after {
  content: "";
  position: absolute;
  width: 80%;
  background-color: var(--main-color);
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
#features .container .feat .content p {
  font-size: 18px;
  color: var(--para-color);
}
#features .container .feat .content .more {
  color: var(--main-color);
  font-size: 22px;
  font-weight: bold;
  padding: 15px 30px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1;
  background-image: linear-gradient(to right, var(--main-color) 50%, var(--even-bg) 50%);
  color: var(--main-color);
  background-size: 201%;
  background-position: right;
  transition: var(--trans);
  cursor: pointer;
}
#features .container .feat .content .more:hover {
  color: #fff;
  background-position: left;
}

@media (min-width: 539px) and (max-width: 679px) {
  .feat .image::after {
    border-width: 0px 0px 150px 100vw !important;
  }
  .feat:hover .image::after {
    border-width: 150px 100vw 150px 0px !important;
  }
}
#services .container .serv {
  counter-increment: service-number;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--even-bg);
  width: 100%;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: var(--trans);
}
#services .container .serv::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0px;
  height: 3px;
  top: -3px;
  transition: var(--trans);
}
#services .container .serv:hover {
  transform: translateY(-10px);
}
#services .container .serv:hover::before {
  width: 100%;
}
#services .container .serv i {
  font-size: 60px;
  margin: 30px 0px 20px;
  color: #d5d5d5;
}
#services .container .serv h3 {
  margin-bottom: 30px;
  font-size: 26px;
  color: var(--main-color);
}
#services .container .serv .info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--light-bg);
  position: relative;
}
#services .container .serv .info::before {
  content: "0" counter(service-number);
  position: absolute;
  left: 0px;
  width: 80px;
  height: 100%;
  background-color: var(--main-color);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
#services .container .serv .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  height: 100.5%;
  width: 40px;
  left: 80px;
  transform: skewX(-30deg);
}
#services .container .serv .info .details {
  color: var(--main-color);
  padding: 15px;
}

#team-members .container .member {
  width: 100%;
  position: relative;
  padding-top: 50px;
  z-index: 1;
  color: var(--text-color);
}
#team-members .container .member .member-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
#team-members .container .member .member-header .image {
  padding: 20px 10px 0px;
  background-color: var(--light-color);
  border-radius: 10px;
  transition: var(--transe);
}
#team-members .container .member .member-header .image img {
  width: 100%;
}
#team-members .container .member .member-header .member-social li {
  width: 50px;
}
#team-members .container .member .member-header .member-social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px 0px;
}
#team-members .container .member .member-header .member-social li a i {
  font-size: 20px;
  color: var(--para-color);
  transition: var(--transe);
}
#team-members .container .member .member-header .member-social li:hover a i {
  color: var(--main-color);
}
#team-members .container .member .member-info {
  padding: 20px 20px 20px 70px;
  padding-left: 70px;
}
#team-members .container .member::before, #team-members .container .member::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0px;
  border-radius: 10px;
  z-index: -1;
}
#team-members .container .member::before {
  width: calc(100% - 50px);
  background-color: var(--odd-bg);
}
#team-members .container .member::after {
  width: 0px;
  transition: var(--transe);
  background-color: #e0e0e0;
}
#team-members .container .member:hover {
  color: #000;
}
#team-members .container .member:hover .member-header .image {
  filter: grayscale(1);
}
#team-members .container .member:hover::after {
  width: calc(100% - 50px);
}

#skills .container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
#skills .container .skills-container {
  width: 100%;
}
#skills .container .skills-container .skill {
  width: 100%;
  position: relative;
}
#skills .container .skills-container .skill:hover .skill-name::before {
  background-color: var(--main-color);
  color: #fff;
}
#skills .container .skills-container .skill .skill-name,
#skills .container .skills-container .skill .skill-progress {
  position: relative;
  margin-bottom: 15px;
  color: var(--text-color);
}
#skills .container .skills-container .skill .skill-name {
  font-size: 18px;
  font-weight: bold;
}
#skills .container .skills-container .skill .skill-name::before {
  content: attr(data-progress);
  position: absolute;
  right: 0px;
  color: var(--main-color);
  font-size: 14px;
  border: 2px solid var(--even-bg);
  padding: 0px 4px;
  border-radius: 5px;
  transition: var(--trans);
}
#skills .container .skills-container .skill .skill-progress {
  background-color: var(--even-bg);
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden;
}
#skills .container .skills-container .skill .skill-progress .progress-bar {
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
  width: 0%;
  top: 0px;
  left: 0px;
  transition: var(--trans);
}
#skills .container .image img {
  width: 100%;
}

@media (max-width: 768px) {
  #skills .container .image {
    display: none;
  }
}
#stats {
  position: relative;
}
#stats::before, #stats::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#stats::before {
  background-image: url(../../imgs/stats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#stats::after {
  opacity: 1;
}
#stats .container {
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
#stats .container .stat {
  width: 100%;
  background-color: var(--even-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  position: relative;
  opacity: 0.8;
  transition: var(--trans);
}
#stats .container .stat::before, #stats .container .stat::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}
#stats .container .stat::before {
  top: 0;
  right: 0;
}
#stats .container .stat::after {
  left: 0;
  bottom: 0;
}
#stats .container .stat:hover {
  opacity: 1;
}
#stats .container .stat:hover::before, #stats .container .stat:hover::after {
  height: 100%;
}
#stats .container .stat .icon i {
  font-size: 40px;
  color: var(--text-color);
}
#stats .container .stat .stat-num {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-color);
}
#stats .container .stat:last-of-type .stat-num::after {
  content: "K";
}
#stats .container .stat .stat-name {
  color: var(--main-color);
  font-size: 24px;
}

#timeline .container {
  width: 90%;
  max-width: 1080px;
  padding: 0 10%;
  border-radius: 2px;
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#timeline .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
}
#timeline .container::after {
  content: "";
  display: table;
  clear: both;
}
#timeline .container .timeline-block {
  position: relative;
  margin: 2em 0;
}
#timeline .container .timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
#timeline .container .timeline-block:first-child {
  margin-top: 0;
}
#timeline .container .timeline-block:last-child {
  margin-bottom: 0;
}
#timeline .container .timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--main-color), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
#timeline .container .timeline-img {
  background: var(--alt-color);
}
#timeline .container .timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: var(--even-bg);
  border-radius: 2px;
  padding: 1em;
  border: 3px solid #fff;
  transition: var(--trans);
}
#timeline .container .timeline-content .timeline-content-info {
  background: #2b343a;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
#timeline .container .timeline-content .timeline-content-info i {
  margin-right: 5px;
}
#timeline .container .timeline-content .timeline-content-info .timeline-content-info-title,
#timeline .container .timeline-content .timeline-content-info .timeline-content-info-date {
  width: calc(50% - 2px);
  display: inline-block;
}
@media (max-width: 500px) {
  #timeline .container .timeline-content .timeline-content-info .timeline-content-info-title,
  #timeline .container .timeline-content .timeline-content-info .timeline-content-info-date {
    display: block;
    width: 100%;
  }
}
#timeline .container .timeline-content .content-skills {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#timeline .container .timeline-content .content-skills li {
  background: #40484d;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 2px;
  text-align: center;
}
#timeline .container .timeline-content::after {
  content: "";
  display: table;
  clear: both;
}
#timeline .container .timeline-content,
#timeline .container .timeline-content h2 {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 5px;
}
#timeline .container .timeline-content p,
#timeline .container .timeline-content .date {
  color: var(--text-color);
  font-size: 13px;
  font-size: 0.8125rem;
}
#timeline .container .timeline-content .date {
  display: inline-block;
}
#timeline .container .timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
#timeline .container .timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: calc(100% + 2px);
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
  transition: var(--trans);
}
#timeline .container .timeline-content:hover {
  border-color: var(--main-color);
}
#timeline .container .timeline-content:hover::before {
  border-right-color: var(--main-color);
}

@media only screen and (min-width: 1170px) {
  #timeline .container {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #timeline .container::before {
    left: 50%;
    margin-left: -2px;
  }
  #timeline .container .timeline-block {
    margin: 4em 0;
  }
  #timeline .container .timeline-block:first-child {
    margin-top: 0;
  }
  #timeline .container .timeline-block:last-child {
    margin-bottom: 0;
  }
  #timeline .container .timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
  }
  #timeline .container .timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%;
  }
  #timeline .container .timeline-content::before {
    top: 24px;
    left: calc(100% + 2px);
    border-color: transparent;
    border-left-color: #fff;
  }
  #timeline .container .timeline-content:hover::before {
    border-right-color: transparent;
    border-left-color: var(--main-color);
  }
  #timeline .container .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 135%;
    top: 24px;
    font-size: 16px;
    font-size: 1rem;
  }
  #timeline .container .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  #timeline .container .timeline-block:nth-child(even) .timeline-content:hover::before {
    border-right-color: var(--main-color);
  }
  #timeline .container .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: calc(100% + 2px);
    border-color: transparent;
    border-right-color: #fff;
  }
  #timeline .container .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  #timeline .container .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 135%;
    text-align: right;
  }
}
@media only screen and (min-width: 768px) {
  #timeline .container .timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  #timeline .container .timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  #timeline .container .timeline-content .read-more,
  #timeline .container .timeline-content .date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
#hiw {
  position: relative;
}
#hiw .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hiw .container .image {
  margin-right: 100px;
  transition: 0.4s linear;
}
#hiw .container .image:hover {
  filter: hue-rotate(180deg);
}
#hiw .container .info .box {
  background-color: var(--odd-bg);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
#hiw .container .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #dfdfdf;
  z-index: -1;
  transition: var(--trans);
}
#hiw .container .info .box:hover::before {
  width: 100%;
  height: 100%;
}
#hiw .container .info .box img {
  width: 64px;
  margin-right: 30px;
}
#hiw .container .info .box h3 {
  margin: 0;
  font-size: 22px;
  color: var(--text-color);
}
#hiw .container .info .box p {
  color: var(--para-color);
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}

@media (max-width: 991px) {
  #hiw .container {
    flex-direction: column;
  }
  #hiw .container .image {
    max-width: 100%;
    margin: 0 0 50px;
  }
}
@media (max-width: 767px) {
  #hiw .container .info .box {
    flex-direction: column;
    text-align: center;
  }
  #hiw .container .info .box img {
    margin: 0 0 30px;
  }
}
#testimonials {
  position: relative;
}
#testimonials .container {
  padding-top: var(--space);
}
#testimonials .container .box {
  padding: 20px;
  background-color: var(--even-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  position: relative;
}
#testimonials .container .box:hover img {
  border-color: var(--main-color);
}
#testimonials .container .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--odd-bg);
  transition: var(--trans);
}
#testimonials .container .box h3 {
  margin: 0 0 10px;
  color: var(--text-color);
}
#testimonials .container .box .title {
  color: var(--para-color);
  margin-bottom: 10px;
  display: block;
}
#testimonials .container .box .rate i {
  color: #ffc107;
}
#testimonials .container .box p {
  line-height: 1.5;
  color: var(--para-color);
  margin-top: 10px;
  margin-bottom: 0;
}

#events {
  position: relative;
}
#events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#events .container img {
  max-width: 450px;
}
#events .container .info {
  flex: 1;
}
#events .container .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
  flex-wrap: wrap;
}
#events .container .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 80px;
  transition: var(--trans);
}
#events .container .info .time .unit span {
  display: block;
  transition: var(--trans);
  padding: 10px;
  color: var(--text-color);
}
#events .container .info .time .unit span:first-child {
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
}
#events .container .info .time .unit span:last-child {
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
#events .container .info .time .unit:hover, #events .container .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}
#events .container .info .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
  color: var(--text-color);
}
#events .container .info .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: var(--para-color);
}
#events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}
#events .container .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: var(--odd-bg);
  border-radius: 50px;
  display: flex;
  gap: 20px;
  position: relative;
}
#events .container .subscribe form input[type=email] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
  background-color: var(--even-bg);
}
#events .container .subscribe form input[type=email]:focus {
  outline: none;
}
#events .container .subscribe form input[type=email]::placeholder {
  transition: opacity var(--trans);
}
#events .container .subscribe form input[type=email]:focus::placeholder {
  opacity: 0;
}
#events .container .subscribe form input[type=submit] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--trans);
}
#events .container .subscribe form input[type=submit]:hover {
  background-color: var(--alt-color);
}

@media (max-width: 991px) {
  #events .container img {
    display: none;
  }
}
@media (max-width: 767px) {
  #events .container .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
  #events .container .subscribe form input[type=email],
  #events .container .subscribe form input[type=submit] {
    border-radius: 0;
  }
}
#pricing .container .plan {
  position: relative;
  width: 100%;
  background: var(--even-bg);
  text-align: center;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  transition: var(--trans);
  z-index: 1;
}
#pricing .container .plan::before, #pricing .container .plan::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: var(--light-bg);
  position: absolute;
  z-index: -1;
  transition: var(--trans);
}
#pricing .container .plan::before {
  left: 0;
  top: 0;
}
#pricing .container .plan::after {
  right: 0;
  bottom: 0;
}
#pricing .container .plan:hover::before, #pricing .container .plan:hover::after, #pricing .container .plan.active::before, #pricing .container .plan.active::after {
  width: 100%;
}
#pricing .container .plan.popular:hover .label::before {
  border-color: transparent transparent var(--light-bg);
}
@media (min-width: 1024px) {
  #pricing .container .plan.popular {
    top: -20px;
  }
}
#pricing .container .plan .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
@media (max-width: 320px) {
  #pricing .container .plan .label {
    right: 0px;
  }
}
#pricing .container .plan .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent var(--even-bg);
  border-width: 20px;
  transition: var(--trans);
}
#pricing .container .plan .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
  color: var(--text-color);
}
#pricing .container .plan svg {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
#pricing .container .plan .price {
  margin-bottom: 20px;
}
#pricing .container .plan .price .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
#pricing .container .plan .price .time {
  color: var(--para-color);
}
#pricing .container .plan ul {
  text-align: left;
  color: var(--text-color);
}
#pricing .container .plan ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
#pricing .container .plan ul li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
#pricing .container .plan a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--trans);
}
#pricing .container .plan a:hover, #pricing .container .plan a.active {
  background-color: var(--alt-color);
  border-color: var(--alt-color);
  color: #fff;
}

#top-videos .videos-container {
  display: flex;
  justify-content: center;
  background-color: var(--odd-bg);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  #top-videos .videos-container {
    flex-direction: column-reverse;
  }
}
#top-videos .videos-container .videos-list {
  min-width: 300px;
  max-width: 100%;
  background-color: var(--odd-bg);
  color: var(--text-color);
}
@media (max-width: 375px) {
  #top-videos .videos-container .videos-list {
    min-width: auto;
  }
}
#top-videos .videos-container .videos-list .list-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--light-bg);
  font-weight: bold;
  filter: brightness(0.9);
}
#top-videos .videos-container .videos-list .list-name i {
  padding: 5px;
  transition: var(--trans);
  cursor: pointer;
}
#top-videos .videos-container .videos-list .list-name i:hover {
  color: var(--main-color);
}
#top-videos .videos-container .videos-list .videos-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  color: var(--text-color);
}
@media (min-width: 992px) {
  #top-videos .videos-container .videos-list .videos-ul {
    max-height: 400px;
  }
}
@media (min-width: 1070px) {
  #top-videos .videos-container .videos-list .videos-ul {
    max-height: 450px;
  }
}
@media (min-width: 1200px) {
  #top-videos .videos-container .videos-list .videos-ul {
    max-height: 493px;
  }
}
#top-videos .videos-container .videos-list .videos-ul.loaded {
  display: block;
}
#top-videos .videos-container .videos-list .videos-ul li {
  padding: 20px;
  border-top: 1px solid var(--odd-bg);
  line-height: 1;
  cursor: pointer;
  transition: var(--trans);
}
#top-videos .videos-container .videos-list .videos-ul li:hover, #top-videos .videos-container .videos-list .videos-ul li.active {
  background-color: #fafafa;
  color: var(--main-color);
}
#top-videos .videos-container .videos-list .videos-ul li span {
  display: block;
  margin-top: 10px;
  color: var(--para-color);
}
#top-videos .videos-container .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#top-videos .videos-container .preview img {
  max-width: 100%;
}
#top-videos .videos-container .preview .video-player.loaded {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-bottom: 56.25%;
}
#top-videos .videos-container .preview .video-player.loaded iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
#top-videos .videos-container .preview .video-title {
  padding: 20px;
  background-color: var(--odd-bg);
  color: var(--text-color);
  margin-top: 10px;
}

#articles .container .post {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--even-bg);
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--trans), box-shadow var(--trans);
}
#articles .container .post:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
#articles .container .post:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
#articles .container .post img {
  width: 100%;
  max-width: 100%;
}
#articles .container .post .content {
  padding: var(--space);
}
#articles .container .post .content h3 {
  color: var(--text-color);
  margin: 0;
}
#articles .container .post .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: var(--para-color);
}
#articles .container .post .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space);
  border-top: 1px solid #e6e6e7;
}
#articles .container .post .info a {
  color: var(--main-color);
  font-weight: 500;
}
#articles .container .post .info i {
  color: var(--main-color);
  cursor: pointer;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
#discount {
  display: flex;
  flex-wrap: wrap;
}
#discount .description {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  background-position: center;
  color: var(--even-bg);
  flex-basis: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 50px 0px;
  z-index: 1;
  animation: change-background 15s linear infinite;
}
#discount .description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.93;
  z-index: -1;
}
@media (max-width: 991px) {
  #discount .description {
    flex-basis: 100%;
  }
}
#discount .form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 50%;
  padding: 50px 0px;
  background-color: var(--even-bg);
  color: var(--text-color);
}
@media (max-width: 991px) {
  #discount .form {
    flex-basis: 100%;
  }
}
#discount .form input,
#discount .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: var(--light-bg);
  caret-color: var(--main-color);
  transition: var(--transe);
}
#discount .form input:focus,
#discount .form textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--main-color);
}
#discount .form input[type=submit],
#discount .form textarea[type=submit] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--trans);
}
#discount .form input[type=submit]:hover,
#discount .form textarea[type=submit]:hover {
  background-color: var(--alt-color);
}
#discount .form textarea {
  resize: none;
  height: 200px;
}
#discount .content {
  text-align: center;
  padding: 0 20px;
}
#discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
#discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
#discount .content img {
  width: 300px;
  max-width: 100%;
}

@keyframes change-background {
  0%, 100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  33% {
    background-image: url("../imgs/discount-background2.jpg");
  }
  66% {
    background-image: url("../imgs/discount-background3.jpg");
  }
}
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .container .box {
  width: 100%;
}
footer .container .box h3 {
  color: #fff;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .container .box .social {
  display: flex;
}
@media (max-width: 767px) {
  footer .container .box .social {
    justify-content: center;
  }
}
footer .container .box .social li {
  margin-right: 10px;
}
footer .container .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--trans);
}
footer .container .box .social li a:hover {
  color: #fff;
}
footer .container .box .social li a.facebook:hover {
  background-color: #1877f2;
}
footer .container .box .social li a.twitter:hover {
  background-color: #1da1f2;
}
footer .container .box .social li a.youtube:hover {
  background-color: #ff0000;
}
footer .container .box .social li a.linkedin:hover {
  background-color: #0a66c2;
}
footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
  margin: 20px 0px;
}
footer .container .box .links li {
  padding: 15px 0;
  transition: var(--trans);
}
footer .container .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .container .box .links li:hover {
  padding-left: 10px;
}
footer .container .box .links li:hover a {
  color: #fff;
}
footer .container .box .links li a {
  color: #b9b9b9;
  transition: var(--trans);
}
footer .container .box .links li a::before {
  font-family: "Font Awesome 6 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .container .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
footer .container .box .line:hover i {
  color: var(--alt-color);
}
@media (max-width: 767px) {
  footer .container .box .line {
    flex-direction: column;
  }
}
footer .container .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
  transition: var(--trans);
}
@media (max-width: 767px) {
  footer .container .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
footer .container .box .line .info {
  line-height: 1.7;
  flex: 1;
}
footer .container .box .line .info span {
  display: block;
}
footer .container .footer-gallery img {
  width: 78px;
  border: 3px solid #fff;
  margin: 2px;
}
footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
footer .copyright .emoji {
  display: inline-block;
  color: #ff0000;
  line-height: 1.6;
  animation: beat linear 0.5s infinite alternate;
}
footer .copyright .developer {
  color: var(--main-color);
  transition: var(--trans);
}
footer .copyright .developer:hover {
  color: var(--alt-color);
  text-decoration: underline;
}

@keyframes beat {
  100% {
    transform: scale(0.8);
  }
}
.popup-box {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, calc(-50% - 50px));
  opacity: 0;
  z-index: 1002;
  animation: message-fadein 0.7s ease forwards;
}
.popup-box .next-btn,
.popup-box .prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.popup-box .next-btn i,
.popup-box .prev-btn i {
  font-size: 40px;
  margin: 0px;
  background-color: #fff;
  border-radius: 50%;
}
.popup-box .next-btn {
  right: -50px;
}
.popup-box .prev-btn {
  left: -50px;
}
.popup-box .close-popup {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}
.popup-box .close-popup i {
  margin: 0px;
  font-size: 40px;
}
.popup-box .popup-content {
  background-color: var(--even-bg);
  border: 1px solid #ccc;
  padding: 20px;
  width: 75vh;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.popup-box img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.popup-box h3 {
  font-size: 36px;
  color: var(--text-color);
}
.popup-box p {
  color: var(--para-color);
}
.popup-box i {
  font-size: 120px;
  margin: 30px 0px 20px;
  color: var(--main-color);
  transition: var(--transe);
}
.popup-box i:hover {
  color: var(--alt-color);
}
.popup-box .more,
.popup-box .details {
  display: none;
}
@media (max-width: 768px) {
  .popup-box .close-popup i {
    font-size: 30px;
  }
  .popup-box .next-btn i,
  .popup-box .prev-btn i {
    font-size: 30px;
  }
  .popup-box .next-btn {
    right: -40px;
  }
  .popup-box .prev-btn {
    left: -40px;
  }
}

.popup-overlay {
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

@keyframes message-fadein {
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
