@use "../abstracts/variables" as v;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --alt-color: #0a6fc2;
  --light-color: #c7d9fb;
  --text-color: #111;
  --para-color: #555;
  --odd-bg: #ececec;
  --even-bg: #fff;
  --light-bg: #f9f9f9;
  --space: 20px;
  --sec-space: 100px;
  --trans: 0.3s linear;
  --transe: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;

  &.popup-active {
    overflow-y: hidden;
  }

  &[data-color=red] {
    --main-color: #F44336;
    --alt-color: #c1170a;
    --light-color: #fba8a2;
  }

  &[data-color=green] {
    --main-color: #009688;
    --alt-color: #025e55;
    --light-color: #a5fff7;

  }

  &[data-color=blue] {
    --main-color: #2196F3;
    --alt-color: #0a6fc2;
    --light-color: #c7d9fb;
  }

  &[data-color=yellow] {
    --main-color: #FFC107;
    --alt-color: #c29100;
    --light-color: #ffebb0;
  }

  &[data-color=purple] {
    --main-color: #673ab7;
    --alt-color: #400d9b;
    --light-color: #d3baff;
  }

  &.no-animations {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div:not(.popup-box),
    span,
    p,
    section,
    button:not(.toggle-btn),
    article,
    a,
    svg,
    img,
    ul,
    ol,
    li,
    ::before,
    ::after,
    i,
    form,
    input,
    textarea,
    ::placeholder {
      animation: none !important;
      transition: none !important;
    }

    .main-heading:hover {
      color: #000;
    }
  }

  .white-logo {
    display: block !important;
  }

  .black-logo {
    display: none !important;
  }


  &.darkmode {
    --text-color: #f1f1f1;
    --para-color: #888;
    --odd-bg: #191919;
    --even-bg: #000;
    --light-bg: #111;

    .black-logo {
      display: block !important;
    }

    .white-logo {
      display: none !important;
    }
  }

  #hiw .info .box::before {
    background-color: #252525;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  user-select: none;
}

.container {
  padding: 0px 20px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

section[data-view=inView] {
  .main-heading {
    color: #fff;
    border-color: v.$main-color;
  }

  .main-heading::before {
    animation: fill-left 0.5s linear both;
    z-index: -1;
  }

  .main-heading::after {
    animation: fill-right 0.5s linear both;
    z-index: -1;
  }

}

section:not(#landing, #discount) {
  padding: v.$sec-space 0px;
  position: relative;

  &:nth-of-type(odd) {
    background-color: var(--odd-bg);
  }

  &:nth-of-type(even) {
    background-color: var(--even-bg);
  }
}