@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/placeholders";

#stats {
  position: relative;
  background-color: transparent !important;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  &::before {
    background-image: url(../../imgs/stats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    background-color: #fff;
    opacity: 0.95;
  }
  .container {
    @include m.grid(stretch, center);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    .stat {
      width: 100%;
      background-color: #fff;
      @include m.flex(center, center);
      flex-direction: column;
      padding: 30px;
      gap: 10px;
      position: relative;
      opacity: 0.8;
      transition: v.$trans;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        background-color: var(--main-color);
        transition: 1s;
        height: 0;
      }
      &::before {
        top: 0;
        right: 0;
      }
      &::after {
        left: 0;
        bottom: 0;
      }
      &:hover {
        opacity: 1;
        &::before,
        &::after {
          height: 100%;
        }
      }
      .icon {
        i {
          font-size: 40px;
          color: v.$text-color;
        }
      }
      .stat-num {
        font-size: 50px;
        font-weight: bold;
        line-height: 1;
        color: v.$text-color;
      }
      &:last-of-type {
        .stat-num::after {
          content: "K";
        }
      }
      .stat-name {
        color: v.$main-color;
        font-size: 24px;
      }
    }
  }
}
