@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/placeholders";

#testimonials {
  position: relative;
  .container {
    @extend %grid3;
    padding-top: v.$space;
    .box {
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
      border-radius: 6px;
      position: relative;
      img {
        position: absolute;
        right: -10px;
        top: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid v.$odd-bg;
      }
      h3 {
        margin: 0 0 10px;
      }
      .title {
        color: #777;
        margin-bottom: 10px;
        display: block;
      }
      .rate i {
        color: #ffc107;
      }
      p {
        line-height: 1.5;
        color: #777;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}
