@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.popup-box {
  text-align: center;
  position: fixed;
  @include m.center-pos("a");
  transform: translate(-50%, calc(-50% - 50px));
  opacity: 0;
  z-index: 1002;
  animation: message-fadein 0.7s ease forwards;
  .next-btn,
  .prev-btn {
    position: absolute;
    @include m.center-pos("v");
    cursor: pointer;
    i {
      font-size: 40px;
      margin: 0px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  .next-btn {
    right: -50px;
  }
  .prev-btn {
    left: -50px;
  }
  .close-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #fff;
    @include m.flex(center, center);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    i {
      margin: 0px;
      font-size: 40px;
    }
  }
  .popup-content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 75vh;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 40px);
    overflow-y: auto;
  }
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
  h3 {
    font-size: 36px;
    color: #333;
  }
  p {
    color: #555;
  }
  i {
    font-size: 120px;
    margin: 30px 0px 20px;
    color: v.$main-color;
    transition: v.$transe;
    &:hover {
      color: v.$alt-color;
    }
  }
  .more,
  .details {
    display: none;
  }
  @media (max-width: 768px) {
    & {
      .close-popup {
        i {
          font-size: 30px;
        }
      }
      .next-btn,
      .prev-btn {
        i {
          font-size: 30px;
        }
      }
      .next-btn {
        right: -40px;
      }
      .prev-btn {
        left: -40px;
      }
    }
  }
}
.popup-overlay {
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

@keyframes message-fadein {
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
