$main-color: var(--main-color);
$light-color: var(--light-color);
$text-color: var(--text-color);
$odd-bg: var(--odd-bg);
$even-bg: var(--even-bg);
$space: var(--space);
$sec-space: var(--sec-space);
$trans: var(--trans);
$transe: var(--transe);
